# Ignore Python cache files
**/__pycache__
.pytest_cache
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
env/
venv/

# Ignore git and local files
.git
.gitignore

# Ignore misc
instance/*
/*todo

# Ignore editor/project files
*.swp
*.vscode/
*.idea/